<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace="com.language.grammar.dao.GrammarMapper">
 	<!-- <select id="selectGrammarList" resultType="map">
 		SELECT
 			*
		FROM
			`category`
 	</select> -->
 	
 	
 	<insert id="insertGrammar" parameterType="map">
 		INSERT INTO `grammar_writing`
 		(
 			`userId`
 			,`languageCategoryId`
 			,`title`
 			,`content`
 			,`createdAt`
 			,`updatedAt`
 		
 		)
 		VALUES
 		(
 			#{userId}
 			,#{languageCategoryId}
 			,#{title}
 			,#{content}
 			,NOW()
 			,NOW()

 		)
 		
 	</insert>
 	
 	
 	
 	
 	<select id="selectGrammarList" resultType="com.language.grammar.model.Grammar">
 		SELECT
 			`id`
 			,`userId`
 			,`languageCategoryId`
 			,`title`
 			,`content`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`grammar_writing`
 	</select>
 	
 	
 	
 	<select id="selectGrammarByGrammarId" parameterType="int" resultType="com.language.grammar.model.Grammar">
 		SELECT
 			`id`
 			,`userId`
 			,`languageCategoryId`
 			,`title`
 			,`content`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`grammar_writing`
		WHERE
			`id` = #{grammarId}
 	
 	</select>
 	
 	
 	
 	<delete id="deleteGrammarByGrammarIdUserId" parameterType="map">
 		DELETE
 		FROM
 			`grammar_writing`
		WHERE
			`id` = #{grammarId}
			AND `userId` = #{userId}
 	
 	</delete>
 	
 </mapper>