<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace="com.language.grammar.dao.GrammarMapper">
 	<!-- <select id="selectGrammarList" resultType="map">
 		SELECT
 			*
		FROM
			`category`
 	</select> -->
 	
 	
 	<insert id="insertGrammar" parameterType="map">
 		INSERT INTO `grammar_writing`
 		(
 			`loginId`
 			,`languageCategoryId`
 			,`title`
 			,`content`
 			,`createdAt`
 			,`updatedAt`
 		
 		)
 		VALUES
 		(
 			#{loginId}
 			,#{languageCategoryId}
 			,#{title}
 			,#{content}
 			,NOW()
 			,NOW()

 		)
 		
 	</insert>
 	
 	
 	
 	<select id="selectGrammarList" resultType="com.language.grammar.model.Grammar">
 		SELECT
 			`id`
 			,`loginId`
 			,`languageCategoryId`
 			,`title`
 			,`content`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`grammar_writing`
		
 	</select>
 </mapper>