<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace="com.language.live_comment.dao.LiveCommentMapper">
 	<insert id="insertLiveComment" parameterType="map">
 		INSERT INTO `live_comment`
 		(
 			`liveId`
 			,`userId`
 			,`content`
 			,`createdAt`
 			,`updatedAt`
 		)
 		VALUES
 		(
 			#{liveId}
 			,#{userId}
 			,#{content}
 			,NOW()
 			,NOW()
 		
 		)
 	</insert>
 
 
 
 
 	<select id="selectLiveCommentListByLiveId" parameterType="int" resultType="com.language.live_comment.model.LiveComment">
 		SELECT
 			`id`
 			,`liveId`
 			,`userId`
 			,`content`
 			,`createdAt`
 			,`updatedAt`
		FROM
			`live_comment`
		WHERE
			`liveId` = #{liveId}
 	
 	</select>
 	
 	
 	
 	<delete id="deleteLiveComment" parameterType="int">
 		DELETE
 		FROM
 			`live_comment`
		WHERE
			`id` = #{commentId}
 	
 	</delete>
 </mapper>