<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.language.user.dao.UserMapper">
 	<select id="selectUserByLoginId" parameterType="String" resultType="com.language.user.model.User">
 		SELECT
 			`id`
 			,`nativeCategoryId`
 			,`foreignCategoryId`
 			,`loginId`
 			,`password`
 			,`email`
 			,`selfIntroduction`
 			,`languageGoals`
 			,`ImagePath`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
		WHERE
			`loginId` = #{loginId}
 	
 	</select>
 	
 	
 	
 	
 	
 	<select id="selectUserByLoginIdPassword" parameterType="map" resultType="com.language.user.model.User">
		SELECT
 			`id`
 			,`nativeCategoryId`
 			,`foreignCategoryId`
 			,`loginId`
 			,`password`
 			,`email`
 			,`selfIntroduction`
 			,`languageGoals`
 			,`ImagePath`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
		WHERE
			`loginId` = #{loginId}
		AND `password` = #{password}
 	</select>
 	
 	
 	
 
 
 	<select id="selectUserById" parameterType="int" resultType="com.language.user.model.User">
 		SELECT
 			`id`
 			,`nativeCategoryId`
 			,`foreignCategoryId`
 			,`loginId`
 			,`password`
 			,`email`
 			,`selfIntroduction`
 			,`languageGoals`
 			,`ImagePath`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
		WHERE
			`id` = #{id}
 	</select>
 	
 	
 	<insert id="insertUser" parameterType="map">
 		INSERT INTO `user`
 		(
			`nativeCategoryId` 
			,`foreignCategoryId`
			,`loginId`
			,`password`
			,`email`
			,`selfIntroduction`
			,`languageGoals`
			,`ImagePath`
			,`createdAt`
 			,`updatedAt`
					
 		)
 		VALUES
 		(
 			#{nativeCategoryId}
 			,#{foreignCategoryId}
 			,#{loginId}
 			,#{password}
 			,#{email}
 			,#{selfIntroduction}
 			,#{languageGoals}
 			,#{ImagePath}
 			,NOW()
 			,NOW()

 		)
	
 	</insert>
 	
 	
 	
 	<update id="updateUserByUserId" parameterType="map">
 		UPDATE `user`
 		SET
 			`ImagePath` = #{ImagePath}
 			, `selfIntroduction` = #{selfIntroduction}
 			, `languageGoals` = #{languageGoals}
 			, `updatedAt` = NOW()
		WHERE
			`id` = #{userId}
 	
 	</update>
 
 
 </mapper>