@charset "UTF-8";

#wrap{background-color:gray; height:1200px;}

/*header*/
.header{height:120px; background-color:#A9E2F3}
.ami{font-size:60px; margin-left:80px; padding-top:20px; font-weight:bold}
/*menu */
.asideMenu{width:250px; height:1080px; background-color:#F6CEF5}
.communityText{padding-top:100px; font-size:25px;}
.v-line {border-left : thin solid black; height : 1080px;}
/*section */
.section{width:1136px; height:1080px; background-color:#A9F5D0}
/*footer*/
.footer{height:60px; background-color:#F5D0A9}


