@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
#wrap{ 
	min-height:120rem;
	
 /*    background-color:grey;   */  }


/* #wrapper{
  height: auto;
  min-height: 100%;
  padding-bottom: 10rem;
} */


/*header*/
header{
	/*  background-color:#64CD3C; */  
	min-width:135rem;
	height:13rem;}
.ami{ font-size:5.0rem; margin-left:4rem; padding-top:5.0rem; font-weight:bold}
.headerAmi{margin-left: 9rem;}
.nameHeader{font-size:5rem;}
.headerBox{margin-top: 3rem; margin-right:3rem;}
.headerLoginIcon{margin:6rem;}
.headerMyInfoFont{font-size:2rem;}
.brigthEffect{ 
	 color: #323232;
  text-shadow: 0 0 7px #bebebe	, 0 0 10px#bebebe	, 0 0 21px #FF8200	, 0 0 42px #FF8200,
    0 0 82px #FF8200, 0 0 92px #FF8200, 0 0 102px #FF8200, 0 0 151px #FF8200;
}

/*menu */
.myinfo-btn{ margin-top:5.5rem; margin-right:11rem;}
.myinfoImg3344{margin-bottom:5rem; margin-left:1rem;}
.aside{ position: sticky; top:100px;
    right: 300px;}
.asideMenu{width:250px; height:1080px; margin-top:10rem;  /* background-color:#F6CEF5; */    padding-top:13px;}
.asideText{font-size: 2.0rem; color:black; margin-left:2.2rem;}
.asideText:hover{text-decoration:none;}
.communityText{padding-top:7.5rem; font-size:26px;}
.v-line {border-left : thin solid 	#dcdcdc; height : 1080px;}

.menuAmi{margin-left:1.5rem;}
.communtiFont{font-size:1.7rem;}
.custom-btn {
  margin:0.5rem;
  margin-bottom:7rem;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}


/* 12 */
.btn-12{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  width: 130px;
  height: 40px;
  line-height: 40px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  border: 2px solid #000;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  background: #e0e5ec;
  color: #e0e5ec;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}


/* section  */
section {
	min-width:135rem;
	min-height:120rem;
	max-width: 150rem;
	max-height:160rem;
/*    	  background-color:#A9F5D0;  */ 
	padding-top:7rem;
	padding-left:2rem;
}


/*footer*/
.footerText{font-size: 17px; margin-top: 5rem;}
footer{ /*  background-color:#F5D0A9;   */ 
 height: 10rem;


}


/* signIn */
.signInBox5555{margin-top:120px; margin-bottom:180px;}
.signInTitle {font-size:60px; font-weight:bold; /*margin-top:100px;*/}
.signInText{font-size: 80px;}
.loginInPhotoBox4{height:1000px;}
.signInSecondTitleText{font-size:1.75rem;}


/*signUp*/
.signUpInputPadding{margin-top:1.5rem;}
.signUpTitle{font-size:5rem; font-weight:bold; }
.signUpSubTitle{font-size: 1.7rem;}
.signUpNativeLanguage {font-size: 10px; font-family: 'Marck Script', cursive;}
.fileName{font-size:15px;}
.duplicatedCheck{height: 53px; width:85px; font-size:13px;}
.signUpBox2{width:28rem; height:53px;}
.loginDublicatedBox33{margin-left:16px; margin-top:10px;}
.duplicatedText{font-size:18px; margin-top:-20px; margin-left: 2.0rem;}


:root {

	--text-color: #000;
}

/* body */
 *, body {
	margin: 0px;
	padding: 0px;
	font-size: 10px; 
	color: var(--text-color);
	box-sizing: border-box;
	
} 

html, body {
    height: 100%
}

body {
	height: 100%;
	width: 100%;
	background-color: var(--background-theme);
	font-family: 'Bad Script', cursive;
}




h1 {
	font-size: 5.8rem;
}

p {
	font-size: 2.0rem;
}

.login_section {
	padding-top:20px;
    min-height : 10vh;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	min-height: 10vh;
}

.accounts_container {
    /* 상하좌우 정중앙 정렬하기 */
	width: 90%;
	height: 92%;
	text-align: center;
	border-radius: 10px;
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
	background-color: #fcfcfc;
	overflow: hidden;
}

.accounts_image img {
	object-fit: fill;
	object-position: center;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.accounts_forms {
	padding-top: 30px;
}

.accounts_col form .form-group {
	position: relative !important;
}

.accounts_col form .form-control {
	font-size: 1.8rem;
	padding: 20px 10px;
	margin-bottom: 20px;
	background: transparent !important;
}

.accounts_col form label, .accounts_col form .form-group i {
	position: absolute;
	z-index: 1;
	pointer-events: none;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.9rem;
	left: 10px;
}

.accounts_col form label {
	transition: .2s linear;
}

.change_label {
	background-color: #fcfcfc;
	transition: .2s linear;
	transform: scale(0.8);
	top: 0 !important;
}

.accounts_col form .form-group i {
	left: 90% !important;
	cursor: pointer;
	pointer-events: visible;
}

.register_btn {
	padding: 10px 0 !important;
	font-size: 1.8rem !important;
	font-weight: 600 !important;
}

.already_member_box p, .already_member_box span {
	cursor: pointer;
	font-size: 15px;
}

.login_form, .signup_form {
	display: none;
}



#selectLanguage{
    border: 1px solid 	#dcdcdc;
    box-sizing: border-box;
    border-radius: 4px;

    font-weight: 400;
    font-size: 1.6rem;
    /*line-height: 8px;*/
    margin-bottom:16px;
    margin-left:0.7rem;
    
}

.signup-textarea {
	font-size: 1.8rem;
	padding-left: 0.5rem;
	border: 1px solid 	#d2d2d2;
}

.signUpWhoBox{font-size:20px;  padding-top:10px;}





#selectNative{
    border: 1px solid 	#dcdcdc;
    box-sizing: border-box;
    border-radius: 4px;

    font-weight: 400;
    font-size: 1.6rem;
    /*line-height: 8px;*/
    margin-bottom:16px;
    /*margin-right:30px;
    margin-left:15px;*/
}


.signUpInputPadding{height:50px;}


.headerFollowing{font-weight:lighter;}


/* singUp 중복버튼*/
#loginIdCheckBtn{width: 65px; height:53px; font-weight: bold; font-size:12px; }







/* 프로필 */
.profileTotal55{padding:3rem;}
.profileBox33{    width: 25rem; height:25rem;   }
.profile{  width: 100%;  height: 100%;  border: 2px solid black;  border-radius: 70%; overflow: hidden;}
.profileTotalBox{margin-left:100px; margin-top:3.3rem;}
.firstProfileBox{width:80px; height:150px;  }
.headerPics{padding-top:10px; padding-left:100px; width:1000px; height:600px;}
.headerProfileText{font-size:30px;}
#headerImg{    width: 90px; height: 90px;  border-radius: 100%; overflow: hidden;}
.profileLoginIdText{font-size:30px; font-weight:bold; margin-bottom:17px;}
.profileTotalText{font-size:18px; margin-bottom:17px;}
.selfTitle{font-weight:bold; font-size:1.9rem; margin-top:2rem;}
.goalTitle{font-weight:bold; font-size:2.5rem; margin-left:55rem; margin-top:10px;}
.totalSecondMyBox{width:100rem; margin-top:9rem; }
.secondMyBox{ margin-top:1rem; margin-bottom: 2rem; width: 75rem; height:10rem; overflow: hidden;  }  
.profileTotalBox4444{margin-top:6rem;}
.profileSelfIntrText567{font-size:2rem; text-overflow: ellipsis; overflow: hidden; padding-bottom:1rem;}

.totalSecondMyBox22{width:100rem; margin-top:4rem; }
.secondMyBox22{ margin-top:1rem; margin-bottom: 2rem; width: 75rem; height:10rem; overflow: hidden;} 
.totalSecondMyBox22{margin-left:20rem;}
.selfTitle22{font-size:1.9rem;}
.profileTextArea{font-size:18px; text-overflow: ellipsis; overflow: hidden; padding-bottom:1rem;}
.profileMoreBtn11{margin-left:58rem; margin-top:1.3rem;}
.profileMoreBtn22{margin-left:52rem; }


/* 커뮤니티 */
.communityImg{width: 180px; height: 180px;  overflow: hidden;  border: 2px solid black; border-radius: 70%;}
 .profilePicture2{  width: 100%;  height: 100%; object-fit: cover;  transition: all 0.2s linear; border-radius: 70%; overflow: hidden;  
        padding: 12px;
  
}
.profilePicture2:hover {
  transform: scale(1.4);
} 

.fontCommunity{font-size: 2.0rem; margin-left:3.5rem;}
.loginIdFont{font-size:2.5rem; font-weight:bold; color:black;}
.languageMark{margin-top:0.7rem;}
.arrow{margin-top: 1rem; margin-left: 1rem;}
.selfIntroMark{margin-right:0.8rem;}
.infoCommunity{margin-top: 2.4rem; margin-left:3rem;}
.outer{min-width : 2rem; min-height : 2.5rem;  margin-bottom:2.8rem;  border:none;}
.communityFont{font-size: 1.6rem; margin-top:1.2rem; margin-left:1rem;}
.communityTotal55{padding:4rem; margin-top:5rem; margin-bottom:4rem;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
.communityTotal55:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

 .communityLogin23{
	text-decoration: none;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.communityLogin23:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} 
.loginIdFont:hover{text-decoration: none; color:black;} 
.my_img {
     padding: 15px 20px;
        background-color: #444444;
        border-radius: 5px;
        color: #ffffff;
        position: absolute;
        display: none;
        font-size:2rem;
}
 
.my_box:hover .my_img {
    display: block;
}





/*  Grammar  쓰기   */
.GrammarTitleInput{border:none; /* border-width: 0.4rem; */  margin:3rem;  width: 100rem; height:5rem; font-size:2rem; border-radius:40px 40px 40px 40px; 
/* 	object-fit: cover; 
   transition: all 7.0s linear; overflow: hidden;   border-width: 0.2rem; 
     background-attachment: local; */
  background-image:
    linear-gradient(to right, white 20px, transparent 20px),
    linear-gradient(to left, white 20px, transparent 20px),
    repeating-linear-gradient(white, white 50px, #ccc 50px, #ccc 51px, white 51px);
  line-height: 50px;
  padding-left:2rem;}
.GrammarTitleInput:focus{outline: none !important; border-color: #d6a8e9; box-shadow: 0 0 10px 	#FFAA28; }
.GrammarSelective{
	border:none;
	/* border-width: 0.4rem; */ margin:3rem; margin-right:14rem; width: 18rem; height:5rem; font-size:2rem; border-radius:40px 40px 40px 40px; 
	/* object-fit: cover; 
   transition: all 7.0s linear; overflow: hidden;   border-width: 0.2rem; 
     background-attachment: local; */
  background-image:
    linear-gradient(to right, white 20px, transparent 20px),
    linear-gradient(to left, white 20px, transparent 20px),
    repeating-linear-gradient(white, white 50px, #ccc 50px, #ccc 51px, white 51px);
  line-height: 50px;
  padding-left:2rem;}
.GrammarSelective:focus{outline: none !important; border-color: #d6a8e9; box-shadow: 0 0 10px 	#FFAA28;}
.GrammarText{ border: none; margin: 1rem; width: 89rem;  height:50rem; font-size:2rem;
/* border-width: 0.4rem;  font-size:2rem; border-radius:40px 40px 40px 40px; 
	object-fit: cover; 
   transition: all 7.0s linear; overflow: hidden;   border-width: 0.2rem;  */
     background-attachment: local;
   background-image:
    linear-gradient(to right, white 20px, transparent 20px),
    linear-gradient(to left, white 20px, transparent 20px),
    repeating-linear-gradient(white, white 50px, #ccc 50px, #ccc 51px, white 51px); 
  line-height: 50px;
  padding-left:2rem; }
.GrammarText:focus{outline: none !important; border-color: #d6a8e9; box-shadow: 0 0 10px 	#FFAA28;}
.GrammarTextBox{margin-left:0.6rem;}
.GrammarTotalOutline{margin:4rem;}
.GrammarSaveIcon{margin:3rem;}
.GrammarModifyIcon{margin:3rem;}
.GrammarDeleteIcon{margin:3rem;}
.GrammarBox{margin-top:4rem;}
.GrammarListIcon6666{margin:3rem;}



/* GrammarComment 왼쪽 디테일 */
.GrammarDetailText{  margin-right:3rem; width: 38rem;  height:50rem;  object-fit: cover; font-size:20px; border-radius:40px 40px 40px 40px;
   transition: all 7.0s linear; overflow: hidden;  padding: 2rem; border-width: 0.4rem; 
     background-attachment: local;
  background-image:
    linear-gradient(to right, white 20px, transparent 20px),
    linear-gradient(to left, white 20px, transparent 20px),
    repeating-linear-gradient(white, white 50px, #ccc 50px, #ccc 51px, white 51px);
  line-height: 50px;
  padding: 8px 10px;}
.GrammarDetailText:focus{outline: none !important; border-color: #d6a8e9; box-shadow: 0 0 10px 	#FFAA28;}
.GrammarDetailTextBox{margin-left:1rem;}
.GrammarSaveIcon{margin:3rem;}
.GrammarModifyIcon{margin:3rem;}
.GrammarDeleteIcon{margin:2rem;}


/* GrammarCommnet 오른쪽 댓글 쓰기 */
.GrammarDetailComment{ margin-top:1rem; width: 65rem;  height:12rem;  object-fit: cover; font-size:20px; border-radius:40px 40px 40px 40px;
   transition: all 7.0s linear; overflow: hidden;  padding: 2.5rem;  border-width: 0.2rem; 
     background-attachment: local;
  background-image:
    linear-gradient(to right, white 20px, transparent 20px),
    linear-gradient(to left, white 20px, transparent 20px),
    repeating-linear-gradient(white, white 50px, #ccc 50px, #ccc 51px, white 51px);
  line-height: 50px;
  padding: 7px 9px; padding-left:2rem;}
.GrammarDetailComment:focus{outline: none !important; border-color: #d6a8e9; box-shadow: 0 0 10px 	#FFAA28;} 
.CommentSaveIcon{margin-left:17rem; }




/* GrammarComment 오른쪽 댓글 목록*/
.gmd {
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 20rem;
  margin: 1em;
  padding:1rem;
  position: relative;
  width: 105rem;
}

.gmd-2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.GrammarCommentBox666{font-size:1.5rem; margin-top:9rem; margin-bottom:1rem;}







.commentTotalBox3333{width:70rem; height:50rem; /* overflow: scroll; */}
.oldContentArea{ height:5rem; text-decoration: line-through; text-decoration-color: red; text-decoration-thickness: 0.25rem; font-size: 2rem; padding-top:0.6rem; margin-top:1rem;}
.grammarOldContentText{ padding-left:1rem; text-overflow: ellipsis; font-size:1.7rem; margin:1rem; width:100rem; height:3rem; overflow: hidden;}
.newContentArea{ text-overflow: ellipsis; height:5rem; font-size: 2rem; padding-top:0.8rem; width:104rem;}
.commentsBoxIcon{ margin-top:10rem; margin-left:3rem; margin-bottom:2rem;}
.GrammarDetailTextBox2{margin-right:3rem;}
.commentLangagugeIcon{margin-left:2rem;}
.GrammarDetailTextBox999999{margin-left:2rem;}
.commentsId{font-size:2rem; }
.modalFont{font-size:2.2rem;}

/* Grammar 목록   */
.GrammarListTable{ width: 80rem;  display: table; margin-left: auto; margin-right: auto; color:black; }
.GrammarTableFont{font-size:2.3rem;}
.tableFont{font-size:2.3rem; color:black;}
.countryImg{ width: 7rem; height: 7rem;  margin:1.5rem; overflow: hidden; /*   border: 2px solid black; */  border-radius: 40%;}
#bannerImage{overflow: hidden;  /* border: 2px solid black; */ border-radius: 40%; width:29rem; height:25rem; margin-left:7.5rem;  margin-bottom:5rem; margin-right:5rem;}
.GrammarCountriesIcons{margin-bottom: 8rem;}
.pencilIcon{margin:4rem; margin-left:13rem;}
.GrammarListPage{margin-top:3.5rem;}
.GrammarCountriesIcons{margin-top:8rem;}





/* Grammar 상세 */
.grammarDetailFont{font-size:1.8rem; margin:1rem;}
.grammarDetailFontLang{font-size:1.7rem; margin-top:1.5rem; margin-left:1rem;}
.dateMark{margin-left:2rem; margin-top:0.7rem;}
.grammarDateBox{margin-left:2rem; }
.detailRgithFont{font-size:1.7rem; margin-top:1.9rem; margin-left:1rem;}
.leftLangagueAndDate{margin-bottom:3rem;}
.GrammarDetailTextBox6666{margin-left:4rem;}
.GrammarDetailTopTitle{width:20rem; height:20rem; font-size:3rem;}
.ReadingGlassesIcon{margin-top:9rem; margin-left:1rem; margin-bottom:4rem;}
.GrammarDetailOthers{margin-left:3rem;}
.grammarDetailTopText{font-size:3.5rem;}



/* Review-Writing */
.reviewTotalBox{ margin-left:7.5rem; width: 120rem; height:100rem; font-size:30rem;}
.standardHeight{height:5rem; font-size:1.7rem;}
#insert_TextArea{height: 15rem; font-size:1.7rem; padding:2rem;}
#ReivewTypeId{ border:none; font-size:20px; margin-left:2rem;
  background-image:
    linear-gradient(to right, white 20px, transparent 20px),
    linear-gradient(to left, white 20px, transparent 20px),
    repeating-linear-gradient(white, white 50px, #ccc 50px, #ccc 51px, white 51px);
  line-height: 50px;
  padding-left:2rem;}
#ReivewTypeId:focus{outline: none !important; border-color: #d6a8e9; box-shadow: 0 0 10px 	#FFAA28;}
#ReviewTitleId{ border:none; font-size:20px; 
  background-image:
    linear-gradient(to right, white 20px, transparent 20px),
    linear-gradient(to left, white 20px, transparent 20px),
    repeating-linear-gradient(white, white 50px, #ccc 50px, #ccc 51px, white 51px);
  line-height: 50px;
  padding-left:2rem;}
#ReviewTitleId:focus{outline: none !important; border-color: #d6a8e9; box-shadow: 0 0 10px 	#FFAA28;}
#languageCategoryId{border:none; font-size:20px; 
  background-image:
    linear-gradient(to right, white 20px, transparent 20px),
    linear-gradient(to left, white 20px, transparent 20px),
    repeating-linear-gradient(white, white 50px, #ccc 50px, #ccc 51px, white 51px);
  line-height: 50px;
  padding-left:2rem;}
#languageCategoryId:focus{outline: none !important; border-color: #d6a8e9; box-shadow: 0 0 10px 	#FFAA28;}
#ReviewRatingId{ border:none; font-size:20px; 
  background-image:
    linear-gradient(to right, white 20px, transparent 20px),
    linear-gradient(to left, white 20px, transparent 20px),
    repeating-linear-gradient(white, white 50px, #ccc 50px, #ccc 51px, white 51px);
  line-height: 50px;
  padding-left:2rem;}
#ReviewRatingId:focus{outline: none !important; border-color: #d6a8e9; box-shadow: 0 0 10px 	#FFAA28;}
#ReviewTextareaId{border:none; margin: 1rem;   height:50rem;  font-size:20px; 
  background-image:
    linear-gradient(to right, white 20px, transparent 20px),
    linear-gradient(to left, white 20px, transparent 20px),
    repeating-linear-gradient(white, white 50px, #ccc 50px, #ccc 51px, white 51px);
  line-height: 50px;
  padding: 8px 20px;}
#ReviewTextareaId:focus{outline: none !important; border-color: #d6a8e9; box-shadow: 0 0 10px 	#FFAA28;}
.ReviewImageUrl{border:none;  font-size:20px; 
  background-image:
    linear-gradient(to right, white 20px, transparent 20px),
    linear-gradient(to left, white 20px, transparent 20px),
    repeating-linear-gradient(white, white 50px, #ccc 50px, #ccc 51px, white 51px);
  line-height: 50px;
  padding-left:2rem;}
.ReviewImageUrl:focus{outline: none !important; border-color: #d6a8e9; box-shadow: 0 0 10px 	#FFAA28;}
.reviewWritingBox22{margin-top:7rem;}
.reviewBottomBtnBox{margin:2rem;}
.deleteReviewIcon34{margin-top:2rem;}






/* Review - Detail  */
#ReviewDetailText{margin: 1rem;   height:25rem; width:80rem; object-fit: cover; font-size:20px; border-radius:40px 40px 40px 40px;
   transition: all 7.0s linear; overflow: hidden;  padding: 2rem; border-width: 0.4rem; 
     background-attachment: local;
  background-image:
    linear-gradient(to right, white 20px, transparent 20px),
    linear-gradient(to left, white 20px, transparent 20px),
    repeating-linear-gradient(white, white 50px, #ccc 50px, #ccc 51px, white 51px);
  line-height: 50px;
  padding: 8px 20px;}
#ReviewDetailText:focus{outline: none !important; border-color: #d6a8e9; box-shadow: 0 0 10px 	#FFAA28;}
.reviewTotal55{padding:1rem;  margin-top:6rem; margin-bottom:3rem;}
.reviewBox{ width: 250px; height:250px;  border-radius: 30%; border: 2px solid black; overflow: hidden; margin-top:1rem;}
.ReviewUserInfo{width:27rem; margin-top:3rem;}

.effect5 {  width:65rem; height:22rem; margin-left:3rem; margin-top:2.5rem;
  position: relative;
}
.effect5:before, .effect5:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.effect5:after {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

.ReviewDetailTextBox {
	background: #ccc;
    width:62%;
    height:40rem;
    background:#FFF;
    margin:10px auto;
}

.reviewBox{box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);}
              
.reviewDetailTitle{font-size:3.5rem; }
.reviewDetailContent{font-size:2rem;}
.detailCommentBox{
  font-size:1.8rem;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 4rem;
  margin: 1rem;
  position: relative;
  width: 300px;   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}
.ReveiwTopBoxes7777{margin-bottom:20rem;}
.TopLogoEffects{
	 
    height:100px;
    background:#FFF;
	position: relative;	
}
.TopLogoEffects:before{
	 z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.TopLogoEffects:after{
	-webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
	
}
.ReviewDetailCommentContents{font-size:2.1rem; }
.DetailCommentBox666{font-size:1.5rem; margin-top:3rem; margin-bottom:1rem;}
.reviewDetailContentsBox22{width:107rem; margin-left:3rem;}
#reviewCommentInput{font-size:1.8rem;}
#reviewCommentBtn{font-size:1.8rem; font-weight:bold;}
.reveiwCorrectIcon{padding-right:1rem; }
.ReviewMoreIcon{height:3rem;}
.ReviewSaveIcon{margin-top:4rem;}
.reviewDetailHeart{box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);}
.deletePostFont{font-size:2rem;}
.reviewDetailLoginId{font-weight:900; font-size:2.1rem; margin-right:2rem;}







/* Review-list  */
 .swiper-container {
    margin-top:4rem;
	width:110rem;
	height:230px;
	border:0.04rem solid #dcdcdc;
	border-radius:7px;
	/* box-shadow:0 0 30px #dcdcdc inset; */
	 box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11),
              0 0 30px #dcdcdc inset; 
 }


.swiper-slide {
	text-align:center;
	display:flex;/*  내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center;/*  위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
	 /*  box-shadow:0 0 1px #555;   */
	max-width:40%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
}

.swiper-button-prev{margin-top:6rem;} 
.ReviewListbox{overflow: hidden;  width:30rem; height:28rem;
box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);}
.ReviewListbox:hover{transform: scale(0.9);}
.reviewListTextBox22{margin-left:2rem; font-size:2rem;}
.ReveiwImgBox2{margin:2.3rem;}
.reveiwLangagueText{color:#FFA500; font-size:3rem; }
.ReviewListUserName{font-size:1.7rem;}
.ReviewPencilIcon{margin:2rem; margin-top:3rem;}
.article1{margin-top:13rem;}
#ReviewlanguageId{border:none; margin-top:2.3rem; height:4.3rem;  width:71rem;font-size:20px;
  background-image:
    linear-gradient(to right, white 20px, transparent 20px),
    linear-gradient(to left, white 20px, transparent 20px),
    repeating-linear-gradient(white, white 50px, #ccc 50px, #ccc 51px, white 51px);
  line-height: 50px; background-color:#FFA500;}
#ReviewlanguageId:fucus{outline: none !important; border-color: #d6a8e9; box-shadow: 0 0 10px 	#FFAA28;}
.reviewTopText{width:60rem; height:15rem;}
.reviewTopSelectBox{width:100rem; padding-right:20rem; padding-top:3rem;}
.reviewTopGreatText{width:26rem; margin-top:1.5rem; margin-left:1rem;} 
.ReveiwImgBox3{margin:3rem; margin-left:6rem;}
.reviewTopInfoBox44{margin-left:8rem; margin-top:1rem;}
.reviewTopImgBox2{border-radius: 70%;  overflow: hidden;}
.reviewListPagingIcon{
	margin-top:3rem;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
}
.shadowToTalEffects{
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
}
.countryImg:hover{transform: scale(1.9);}
.ReviewListUserName{
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
}






/*   live쓰기   */
#writeTextArea{height:50rem; width:60rem;}
.liveWritingBox444{margin-top:7rem; width:90rem;}
.liveWritingFileIcon{width:200rem; margin-left:3rem; margin-bottom:4rem; height:5rem; padding:1rem;  }
.liveFileName222{font-size:1.8rem; margin-left:2rem;  }
#liveWritingLanguage{width:2rem; margin-left:2rem; margin-right:2rem; border:none;}
#liveWritingLanguage:focus{outline: none !important; border-color: #d6a8e9; box-shadow: 0 0 10px 	#FFAA28;}
.liveWritingImg:hover{transform: scale(1.4);}




/*  live 디테일   */
.LiveDetailTopBox333{width:55rem; height:8rem; margin-bottom:1rem;}
.liveTopFont{font-size:1.7rem; font-weight: bold; }
.liveTopFont:hover{text-decoration: none; color:black;}
.liveToploginIdText{margin-bottom:1rem; margin-top:1rem; margin-left:1.5rem;}
.liveTopLanguageText{margin-left:1.5rem; font-size:1.4rem;}
.liveMoreBtn{margin-top:2rem;}
.liveContentBox{width:55rem; max-height:20rem; min-height:15rem; /* background-color:green; */ }
#livelanguageId{width:10rem; border:none; margin-top:2.3rem; height:4rem;}
#livelanguageId:focus{outline: none !important; border-color: #d6a8e9; box-shadow: 0 0 10px 	#FFAA28;}
.liveTopText{width:80rem; font-size:3.8rem; margin-top:1.3rem;}
.LiveTopLogo56{height:3rem;}
.TopLogoMain{height:10rem; margin:1rem; padding:2.2rem; margin-bottom:8rem;}
.commentInput{height:4rem; font-size:1.8rem;}
.liveLoginIdText33{font-size:1.7rem;}
.liveContentText{font-size:2rem; margin-left:1.8rem;}
.contents-box{width:55rem;}
.liveCommentText4567{font-size:1.6rem;}
.liveCommentBtn{font-size:1.8rem;}
.liveLikeCounttext{font-size:1.8rem; margin-left:0.7rem; margin-top:2rem;}
.liveLikeCountText222{font-size:1.9rem; font-weight:bold; margin-left:0.5rem; }
.liveLikeCountText333{font-size:1.5rem; margin-left:0.4rem;}
.commentBtn{font-size:1.8rem;}
.liveEmptyLoginId{font-size:1.9rem;}
.liveDeleteMoreBtn33{margin-top:2rem;}
.LiveDetailTextBox {
	background: #ccc;
    width:48%;
    height:25rem;
    background:#FFF;
    margin-top:8rem;
    margin-left:5rem;
}
.profileLoginId{font-size:2rem; margin-left:1rem;}
.profileNativeText{font-size:1.5rem; margin-top:1rem; margin-left:0.7rem;}
.profileForeignText{font-size:1.5rem; margin-top:1rem;}
.profileArrowImg{margin-top:1rem; margin-left:0.5rem; margin-right:0.5rem;}
.languageMark{margin-right:1rem;}

details > summary {  color:#fff;  outline:0; border-radius:5px; cursor:pointer; transition:background 0.5s; text-align:left; box-shadow: 1px 1px 2px gray;}
details > summary:hover{
	transform: scale(1.2);
}
details > summary::-webkit-details-marker {  color:#fff; background-size:contain; transform:rotate3d(0, 0, 1, 90deg); transition:transform 0.25s;}
details[open] > summary::-webkit-details-marker { transform:rotate3d(0, 0, 1, 180deg);}
details[open] > summary { background:#444;}
details[open] > summary ~ * { animation:reveal 0.5s;}
.tpt {position: relative; background:#444; color:#fff; margin:5px 0 10px; padding:5px 10px; line-height:25px; border-radius:5px; box-shadow: 1px 1px 2px gray;}

@keyframes reveal {
    from { opacity:0; transform:translate3d(0, -30px, 0); }
    to { opacity:1; transform:translate3d(0, 0, 0); }
}




/* .profilePicture2:hover {
  transform: scale(1.4);
}  */


/*  메세지 */
.chatbox {
	margin-top:10rem;
    height: 100%;
    width: 100%;
    padding: 0;
    font-family: sans-serif;
   /* background:#646464;   */
 
 
 
   
    
}
.chatbox {
  display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #dcdcdc;
  border-radius: 2px;
}
.chatbox {
    width: 500px;
    height: 60rem;
    max-height: 60rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.chat-window {
	width:50rem;
    flex: auto;
    max-height: calc(100% - 60px);
    overflow: auto;
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
   
}
.chat-input {
    flex: 0 0 auto;
    height: 60px;
    background: #40434e;
    border-top: 1px solid #2671ff;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.chat-input input {
    height: 59px;
    line-height: 60px;
    outline: 0 none;
    border: none;
    width: calc(100% - 60px);
    color: white;
    text-indent: 10px;
    font-size: 12pt;
    padding: 0;
    background: #40434e;
}
.chat-input button {
    float: right;
    outline: 0 none;
    border: none;
    background: rgba(255,255,255,.25);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px 0 0 0;
    margin: 10px;
    transition: all 0.15s ease-in-out;
}
.chat-input input[good] + button {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    background: #2671ff;
}
.chat-input input[good] + button:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.chat-input input[good] + button path {
    fill: white;
}
.msg-container {
    /* position: relative; */
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}
.msg-box {
    display: flex;
    /* background: #8c8c8c; */
    
    background: #E8CBC0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    
    
    padding: 10px 10px 0 10px;
    border-radius: 0 6px 6px 0;
    max-width: 80%;
    width: auto;
    float: left;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.user-img {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #2671ff;
    margin: 0 10px 10px 0;
}
.flr {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}
.messages {
    flex: 1 0 auto;
}
.msg {
    display: inline-block;
    font-size: 2rem;
    line-height: 13pt;
    color: rgba(255,255,255,.7);
    margin: 0 0 4px 0;
}
.msg:first-of-type {
    margin-top: 8px;
}
.timestamp {
    color: rgba(0,0,0,.38);
    font-size: 8pt;
    margin-bottom: 10px;
}
.username {
    margin-right: 3px;
    font-size: 1.7rem;
}
.posttime {
    margin-left: 3px;
}
.msg-self .msg-box {
    border-radius: 6px 0 0 6px;
    background: #2671ff;
    float: right;
}
.msg-self .user-img {
    margin: 0 0 10px 10px;
}
.msg-self .msg {
    text-align: right;
}
.msg-self .timestamp {
    text-align: right;
}
.messageAirplane{margin-right :9rem; margin-top:2rem;}
.messageListSendImg:hover{transform: scale(1.4);}
.UserList_img {
     padding: 15px 20px;
        background-color: #FDEBC8;
        border-radius: 5px;
        color: #ffffff;
        position: absolute;
        display: none;
        font-size:2rem;
}
 
.messageUserList:hover .UserList_img {
    display: block;
}
.messageUserList{margin-top:10rem;}





/* .profilePicture2:hover {
  transform: scale(1.4);
}  */



/* message modal css  */
#message-text{height:25rem; font-size:2rem;}
#exampleModalLabel{font-size:1.6rem;}
.modalMessageText{font-size:1.3rem;}
.profileSendMessage22{font-size:1.5rem;}
.messageCloseBtn{font-size:1.5rem;}
.profileSendMessage:hover{transform: scale(1.4);}
.messageDeleteImg:hover{transform: scale(1.4);}
 
 
 
/* outbox */
.messageOutBoxLoginIdText{font-size:1.7rem;}
.posttime{font-size:1.3rem;}
.outBoxContent{font-size:2rem;}




